* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.elementExample {
    height: 200px;
    width: 200px;
    line-height: 200px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.elementExample_first {
    background: firebrick

}
.elementExample_second {
    background: forestgreen;
    
}
.elementExample_last {
    background: gold;
    
}
.elementExample_internal {
    height: 100px;
    width:100px;
    line-height: 100px;
    background: cyan;
}
